<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <form action="/admin/add" method="post">
      <input type="text" name="title" placeholder="baslık" required>
      <input type="text" name="short" placeholder="kısa açıklama" required>
      <input type="text" name="long" placeholder="tüm içerik" required>
      <input type="submit" value="Kaydet">
    </form>
  </section>
</body>
</html>