<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Ekle amk</title>
</head>
<body>
  <div>
    <h1>kullanıcı ekle</h1>
  </div>
  <section>
    <form action="/admin/ekle" method="post">
      <input type="text" name="kullanıcıAdi" placeholder="kullanıcıAdi" required>
      <input type="text" name="sifre" placeholder="sifre" required>
      <input type="submit" value="Kaydet">
    </form>
  </section>
</body>
</html>